{% extends 'account/base.html' %}
{% load static %}
{% block content %}
<!-- inner header wrapper start -->
<div class="page_title_section">
    <div class="page_header">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-12 col-sm-8">
                    <h1>About us </h1>
                </div>
                <div class="col-lg-3 col-md-3 col-12 col-sm-4">
                    <div class="sub_title_section">
                        <ul class="sub_title">
                            <li> <a href="{% url 'home' %}"> Home </a>&nbsp; / &nbsp; </li>
                            <li>About us </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- inner header wrapper end -->
<!-- about us wrapper start -->
<div class="sv_about_wrapper fixed_portion float_left">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                <div class="border_about_wrapper float_left">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-12 col-sm-12">
                            <div class="sv_abt_img_wrapper float_left">
                                <img src="{% static 'images/abt_img.jpg' %}" alt="img" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12 col-sm-12">
                            <div class="sv_abt_content_wrapper float_left">
                                <h1>OUR STORY</h1>
                                <p>We offer the best investment and marketing service
                                <br> Our strategy and tools has proven results for our investment programs.</p>
                            </div>
                            <p>
                              As a team we have identified that many individuals lack the desired/required
                              expertise to benefit off the large streams of profit rolling from investments
                              especially as it concerns cryptocurrency and/or forex markets.
                              <br>
                              <br>
                               Therefore, we as individuals equipped with the technical know-how and expertise,
                               and as successes in this field have decided to come together to form a team to trade
                               on your behalf and bear the investment risk ensuring that you record no losses on investments.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about us wrapper end -->
<!-- about us wrapper start -->
<div class="sv_money_wrapper float_left" id="mission">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12 col-sm-12">
                <div class="sv_money_text_wrapper float_left">
                    <h1>Our Mission</h1>
                    <h2>To Grow <br> Your Money !</h2>
                    <p>
                      To help you build a wealth of passive income from the currently evolving world of cryptocurrency and forex markets.
                        <br>
                      Understanding that while there are many who don't mind investing with lots of money to get really high returns, there
                      are those who would like to build up from the little they have, we've come up with different plans for you to choose from.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12 col-sm-12">
                <div class="sv_abt_img_wrapper float_left">
                    <img src="{% static 'images/abt_img1.jpeg' %}" alt="img" height="407" width="455" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- about us wrapper end -->
<!-- counter wrapper start-->
<div class="counter_section float_left">
    <div class="investment_overlay"></div>
    <div class="counter-section2">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12 col-sm-6">
                    <div class="counter_cntnt_box">
                        <div class="tb_icon investment_icon_circle">
                            <div class="icon"><i class="flaticon-bar-chart"></i>
                            </div>
                            <div class="investment_border_wrapper"></div>
                        </div>
                        <div class="count-description"><span class="timer">{{ fact.days_online }}</span>
                            <h5 class="con"> days online</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12 col-sm-6">
                    <div class="counter_cntnt_box">
                        <div class="tb_icon investment_icon_circle blue_icon_circle">
                            <div class="icon"><i class="flaticon-user"></i>

                            </div>
                            <div class="investment_border_wrapper blue_border_wrapper"></div>
                        </div>
                        <div class="count-description"> <span class="timer">{{ fact.registered_users }}</span>
                            <h5 class="con"> registered users</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12 col-sm-6">
                    <div class="counter_cntnt_box">
                        <div class="tb_icon investment_icon_circle red_info_circle">
                            <div class="icon"><i class="flaticon-salary"></i>
                            </div>
                            <div class="investment_border_wrapper red_border_wrapper"></div>
                        </div>
                        <div class="count-description"> <span class="timer"> {{ fact.total_deposits }} </span>
                            <h5 class="con"> total deposit </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12 col-sm-6">
                    <div class="counter_cntnt_box">
                        <div class="tb_icon investment_icon_circle green_info_circle">
                            <div class="icon"><i class="flaticon-withdrawal"></i>
                            </div>
                            <div class="investment_border_wrapper green_border_wrapper"></div>
                        </div>
                        <div class="count-description"> <span class="timer"> {{ fact.total_withdraw }} </span>
                            <h5 class="con"> total  withdraw</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- counter wrapper end-->
<!--our services wrapper start -->
<div class="our_services_wrapper float_left">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                <div class="sv_heading_wraper heading_wrapper_dark dark_heading">
                    <h4> features</h4>
                    <h3>altcoininvest features</h3>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6 col-12">
                <div class="investment_box_wrapper service_box float_left">
                    <div class="investment_icon_circle">
                        <i class="flaticon-medal"></i>
                    </div>
                    <div class="investment_border_wrapper"></div>
                    <div class="investment_content_wrapper">
                        <h1><a href="#mission">our mission</a></h1>
                        <p>To help you build a wealth of passive income from the currently evolving world of cryptocurrency and forex markets</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6 col-12">
                <div class="investment_box_wrapper service_box float_left">
                    <div class="investment_icon_circle red_info_circle">
                        <i class="flaticon-shield"></i>
                    </div>
                    <div class="investment_border_wrapper red_border_wrapper"></div>
                    <div class="investment_content_wrapper red_content_wrapper">
                        <h1><a >our vision</a></h1>
                        <p>To become one of the leading Investment Companies Investors can trust.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6 col-12">
                <div class="investment_box_wrapper service_box float_left">
                    <div class="investment_icon_circle blue_icon_circle">
                        <i class="flaticon-bars"></i>
                    </div>
                    <div class="investment_border_wrapper blue_border_wrapper"></div>
                    <div class="investment_content_wrapper blue_content_wrapper">
                        <h1><a>our core value</a></h1>
                        <p>We uphold the highest standards of integrity in all of our actions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--our services wrapper end -->
<!-- testimonial wrapper start -->
<div class="testimonial_wrapper float_left">
    <div class="investment_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                <div class="sv_heading_wraper heading_wrapper_dark">
                    <h4>testimonial</h4>
                    <h3>what people says</h3>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="testimonial_slider_wrapper">
                    <div class="owl-carousel owl-theme">
                    {% for testimonial in testimonials %}
                        <div class="item">
                            <div class="testimonial_slide_main_wrapper dark_top_testimonial">
                                <div class="ts_client_cont_wrapper">
                                    <p>“{{ testimonial.testimony }}.”</p>
                                </div>
                                <div class="ts_img_social_wrapper">
                                    <div class="ts_client_img_wrapper">
                                        <img src="{{ testimonial.image.url }}" class="img-responsive" alt="client_img" />
                                    </div>
                                    <div class="ts_client_social_wrapper">
                                        <p>- by {{ testimonial.name }}
                                            <br> <span>(investor, {{  testimonial.plan }})</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial wrapper end -->
<!-- investors wrapper start -->
<div class="investors_wrapper float_left">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="sv_heading_wraper half_section_headign">
                    <h4>Tranding People</h4>
                    <h3>Our top investors</h3>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 sw_spectrm_padding">
                <div class="investors_slider_wrapper">
                    <div class="owl-carousel owl-theme">
                      {% for investor in top_investors %}
                        <div class="item">
                            <div class="inves_slider_cntn float_left">
                                <div class="investment_box_wrapper index_investment float_left">
                                    <div class="inves_img_wrapper">
                                        <img src="{{ investor.image.url }}" class="img-responsive" alt="img" />
                                    </div>
                                    <div class="inves_main_border float_left">
                                        <div class="investment_icon_circle inves_icon">
                                            <i class="flaticon-twitter"></i>
                                        </div>
                                        <div class="investment_border_wrapper inves_border_slider"></div>
                                        <div class="investment_content_wrapper inves_heading_txt">
                                            <h1><a href="{{ investor.twitter }}">{{ investor.name }}</a></h1>
                                            <p>${{ investor.amount }}USD</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- investors wrapper end -->
{% endblock %}
