{% extends 'account/base.html' %}
{% load static %}
{% block content %}
<!-- inner header wrapper start -->
<div class="page_title_section">
    <div class="page_header">
        <div class="container">
            <div class="row">
              {% if messages %}
                  {% for message in messages %}
                    <div class="col-lg-9 col-md-9 col-12 col-sm-8 alert alert-{{ message.tags }} p-1" role="alert">
                      {{ message }}
                    </div>
                  {% endfor %}
              {% else %}
                <div class="col-lg-9 col-md-9 col-12 col-sm-8">
                    <h1>contact us</h1>
                </div>
              {% endif %}
                <div class="col-lg-3 col-md-3 col-12 col-sm-4">
                    <div class="sub_title_section">
                        <ul class="sub_title">
                            <li> <a href="{% url 'home' %}"> Home </a>&nbsp; / &nbsp; </li>
                            <li>contact us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- inner header wrapper end -->
<!-- contact_wrapper start -->
<div class="contact_section float_left">
    <div class="container">
        <div class="row">
          <form method="post">
          {% csrf_token %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="sv_heading_wraper heading_wrapper_dark dark_heading">
                    <h4> get in touch</h4>
                    <h3>contact us for support</h3>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-12">
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-pos">
                                <div class="form-group i-name">
                                    <input type="text" class="form-control require" name="first_name" required="" placeholder="First Name*">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-pos">
                                <div class="form-group i-name">
                                    <input type="text" class="form-control require" name="last_name" required="" placeholder="last Name*">
                                </div>
                            </div>
                        </div>
                        <!-- /.col-md-12 -->
                        <div class="col-lg-6 col-md-6">
                            <div class="form-e">
                                <div class="form-group i-email">
                                    <label class="sr-only">Email </label>
                                    <input type="email" class="form-control require" name="email" required="" placeholder=" Email *" data-valid="email" data-error="Email should be valid.">
                                </div>
                            </div>
                        </div>
                        <!-- /.col-md-12 -->
                        <div class="col-lg-6 col-md-6">
                            <div class="form-s">
                                <div class="form-group i-subject">
                                    <input type="text" class="form-control" name="subject" required="" placeholder="subject">
                                </div>
                            </div>
                        </div>
                        <!-- /.col-md-12 -->
                        <div class="col-md-12">
                            <div class="form-m">
                                <div class="form-group i-message">
                                    <textarea class="form-control require" name="message" required="" rows="5" id="messageTen" placeholder=" Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-md-12 -->
                        <div class="col-md-12">
                            <div class="tb_es_btn_div">
                                <div class="response"></div>
                                <div class="tb_es_btn_wrapper conatct_btn2 cont_bnt">
                                    <button type="submit" class="submitForm"> send message !</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
          </form>
        </div>
    </div>
</div>
<!-- contact_wrapper end -->
    <!-- payments wrapper start -->
    <!-- payments wrapper start -->
    <div class="payments_wrapper float_left">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="sv_heading_wraper half_section_headign">
                        <h4>Payment Methods</h4>
                        <h3>Accepted Payment Method</h3>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <div class="payment_slider_wrapper">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="partner_img_wrapper float_left">
                                    <img src="{% static 'images/partner1.png' %}" class="img-responsive" alt="img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="partner_img_wrapper float_left">
                                    <img src="{% static 'images/partner3.png' %}" class="img-responsive" alt="img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="partner_img_wrapper float_left">
                                    <img src="{% static 'images/partner4.png' %}" class="img-responsive" alt="img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="partner_img_wrapper float_left">
                                    <img src="{% static 'images/partner5.png' %}" class="img-responsive" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- payments wrapper end -->
    <!-- custom js-->
{% endblock %}
