{% extends "account/base.html" %}
{% load static %}

{% block content %}
<!-- inner header wrapper start -->
<div class="page_title_section">
    <div class="page_header">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-12 col-sm-8">
                    <h1>login</h1>
                </div>
                <div class="col-lg-3 col-md-3 col-12 col-sm-4">
                    <div class="sub_title_section">
                        <ul class="sub_title">
                            <li> <a href="{% url 'home' %}"> Home </a>&nbsp; / &nbsp; </li>
                            <li>login</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- inner header wrapper end -->
<!-- login wrapper start -->
<div class="login_wrapper fixed_portion float_left">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="login_top_box float_left">
                    <div class="login_banner_wrapper">
                        <img src="{% static 'images/logo6.png' %}" alt="logo">
                    </div>
                    <div class="login_form_wrapper">
                      {% if messages %}
                        {% for message in messages %}
                          <div class="alert alert-{{ message.tags }} p-1" role="alert">
                            {{ message }}
                          </div>
                        {% endfor %}
                      {%endif%}
                        <div class="sv_heading_wraper heading_wrapper_dark dark_heading hwd">
                            <h3> login to enter</h3>
                        </div>
                          <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-group icon_form comments_form">
                                <input type="text" class="form-control require" name="username" placeholder="Username*">
                            </div>
                            <div class="form-group icon_form comments_form">
                                <input type="password" class="form-control require" name="password" placeholder="Password *">
                            </div>
                            <div class="login_remember_box">
                                <label class="control control--checkbox">Remember me
                                    <input type="checkbox">
                                    <span class="control__indicator"></span>
                                </label>
                                <a href="{% url 'password_reset' %}" class="forget_password">Forgot Password</a>
                            </div>
                            <div class="about_btn login_btn float_left">
                                <button class="btn btn-primary p-1 form-control" type="submit" name="button"> Login </button>
                            </div>
                          </form>
                        <div class="dont_have_account float_left">
                            <p>Don’t have an acount ? <a href="{% url 'register' %}">Sign up</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login wrapper end -->
<!-- payments wrapper start -->
<div class="payments_wrapper float_left">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="sv_heading_wraper half_section_headign">
                    <h4>Payment Methods</h4>
                    <h3>Accepted Payment Method</h3>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="payment_slider_wrapper">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="partner_img_wrapper float_left">
                                <img src="{% static 'images/partner1.png' %}" class="img-responsive" alt="img">
                            </div>
                        </div>
                        <div class="item">
                            <div class="partner_img_wrapper float_left">
                                <img src="{% static 'images/partner2.png' %}" class="img-responsive" alt="img">
                            </div>
                        </div>
                        <div class="item">
                            <div class="partner_img_wrapper float_left">
                                <img src="{% static 'images/partner3.png' %}" class="img-responsive" alt="img">
                            </div>
                        </div>
                        <div class="item">
                            <div class="partner_img_wrapper float_left">
                                <img src="{% static 'images/partner4.png' %}" class="img-responsive" alt="img">
                            </div>
                        </div>
                        <div class="item">
                            <div class="partner_img_wrapper float_left">
                                <img src="{% static 'images/partner2.png' %}" class="img-responsive" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- payments wrapper end -->
{% endblock %}
