{% extends 'account/base.html' %}
{% load static %}
{% block content %}
<!-- inner header wrapper start -->
<div class="page_title_section">
    <div class="page_header">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-12 col-sm-8">
                    <h1>Email Sent</h1>
                </div>
                <div class="col-lg-3 col-md-3 col-12 col-sm-4">
                    <div class="sub_title_section">
                        <ul class="sub_title">
                            <li> <a href="{% url 'home' %}"> Home </a>&nbsp; / &nbsp; </li>
                            <li>Reset Password Done</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- inner header wrapper end -->
<!-- reset password wrapper start -->
<div class="p-3 fixed_portion float_left">
  <div class="alert alert-info" role="alert">
     your password has been set.
     <a href="{% url 'login' %}"> Login Here </a>
  </div>
</div>

<!-- reset password wrapper end -->
{% endblock %}
