{% extends 'altcoininvest/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block navi %}
<!-- inner header wrapper start -->
<div class="page_title_section dashboard_title">
    <div class="page_header">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-7 col-md-7 col-12 col-sm-7">
                    <h1>Change Password</h1>
                </div>
                <div class="col-xl-3 col-lg-5 col-md-5 col-12 col-sm-5">
                    <div class="sub_title_section">
                        <ul class="sub_title">
                            <li> <a href="{% url 'home' %}"> Home </a>&nbsp; / &nbsp; </li>
                            <li>Change Password</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- inner header wrapper end -->
{% endblock %}
{% block content %}
<!--  profile wrapper start -->
<div class="password_notify_wrapper float_left">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-12">
      <div class="sv_heading_wraper heading_center">
        <h3>change password</h3>
      </div>
    </div>
  </div>
  <div class="row">
	   <div class="col-md-12 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-sm-12 col-12">
		     <div class="change_password_wrapper float_left">
				       <div class="change_pass_field float_left">
                 <form method="post" action="{% url 'change_password' %}">
                   {% csrf_token %}
                   {{ form| crispy }}
                   <button class="btn btn-danger"type="submit" name="button">Change Password</button>
						     </form>
					       </div>
				    </div>
			 </div>
		</div>
            <!--  profile wrapper end -->
{% endblock %}
